@{
    ViewData["Classic Calcultor"] = "Home Page";
}

<h2>Calculator</h2>

<form asp-action="Index" method="post"> 
    <div>  
        <label>Number 1:</label> 
        <input asp-for="num1" type="number" step="any" /> 
    </div> 

    <div> 
        <label>Operator:</label> 
        <select asp-for="addingthing"> 
           <br /> <option value="+">+</option> 
           <br /> <option value="-">-</option> 
           <br /> <option value="*">*</option> 
           <br /><option value="/">/</option> 
        </select> 
    </div> 

    <div> 
        <label>Number 2:</label> 
        <input asp-for="num2" type="number" step="any" /> 
    </div> 

    <div> 
        <input type="submit" value="Calculate" /> 
    </div> 
</form> 

@if (Model != null)
{
    <div>
        <h3>
            Result: @Model.Result
        </h3>
    </div>

    <h4>Debug:</h4>
    <p>Number 1: @Model.num1</p>
    <p>Number 2: @Model.num2</p>
    <p>Operator: @Model.addingthing</p>
    <p>Result: @Model.Result</p>
}